@import url(main/main.css);
@import url(wrapper/wrapper.css);
@import url(header/header.css);
@import url(profile/profile.css);
@import url(gallery/gallery.css);
@import url(card/card.css);
@import url(footer/footer.css);
@import url(popup/popup.css);

body {
	width: 100vw;
	height: 100vh;
    background-color: #000000;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
}

