.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 17px;
}

@media all and (max-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media all and (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
} 